test-book/book
test-book/tmp
test-book/extract
test-book/extract.hi
test-book/extract.o

release/hamlet
release/persistent
release/wai
release/yesod
release/tarballs

*.swp
*.hi
*.o

site-migration/blogs
site-migration/book
site-migration/blog-infos.txt
